.card__delete-btn {
  width: 18px;
  height: 19px;
  background-color: transparent;
  border: transparent;
  background-image: url("./../../../images/delete.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: opacity 0.5s ease-out;
}

.card__delete-btn:hover {
  opacity: 0.6;
}
